<div class="placement--process">
    <div class="container">
        <h1 class="text-center">Placement Process</h1>
        <p class="text-center"></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
             <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
             <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
             <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
             <div class="col-12 col-md-4">
                <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                    <div class="svg-36">
                        <include src="./src/svgs/menu-book.svg"></include>
                    </div>
                    <h5 class="card-title text-center">Technical Training</h5>
                    <p class="card-text text-center">Hands-on expertise</p>
                </div>
            </div>
        </div>
    </div>
</div>