<div class="placement--recruiters">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Our Placement Partners</h1>
                <p class="text-center">
                    Leading companies where our students are placed
                </p>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-start flex-wrap gap-3">
                    <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>

                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>


                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>


                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>

                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>


                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>

                      <a class="card recruiter" href="https://aheesa.com" target="_blank">
                        <div class="card-body">
                            <img src="~/src/images/recruiters/aheesa.png" class="w-100" alt="" />
                        </div>
                        <div class="card-footer text-center">
                            Aheesa
                        </div>
                    </a>
                 
                </div>
            </div>
        </div>
    </div>
</div>