<div class="container py-3 placement--students">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body student">
                    <img src="~/src/images/students/kavya.png" class="w-100 rounded" alt="">
                    <h4 class="text-center my-2">Kaviya Vijayakannan C</h4>
                    <div class="company">
                    <img src="~/src/images/recruiters/aheesa.png" class="rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
         <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body student">
                    <img src="~/src/images/students/kavya.png" class="w-100 rounded" alt="">
                    <h4 class="text-center my-2">Kaviya Vijayakannan C</h4>
                    <div class="company">
                    <img src="~/src/images/recruiters/aheesa.png" class="rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
         <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body student">
                    <img src="~/src/images/students/kavya.png" class="w-100 rounded" alt="">
                    <h4 class="text-center my-2">Kaviya Vijayakannan C</h4>
                    <div class="company">
                    <img src="~/src/images/recruiters/aheesa.png" class="rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
         <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body student">
                    <img src="~/src/images/students/kavya.png" class="w-100 rounded" alt="">
                    <h4 class="text-center my-2">Kaviya Vijayakannan C</h4>
                    <div class="company">
                    <img src="~/src/images/recruiters/aheesa.png" class="rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>