<div class="admissions--banner py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center svg-36">
                            <include src="./src/svgs/menu-book.svg"></include>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center svg-36">
                            <include src="./src/svgs/menu-book.svg"></include>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center svg-36">
                            <include src="./src/svgs/menu-book.svg"></include>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center svg-36">
                            <include src="./src/svgs/menu-book.svg"></include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>