<div class="admissions--hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
     <h1 class="text-center">Ready to Launch Your VLSI Career?</h1>
      <h5 class="text-center">
       Join thousands of successful graduates who started their journey with Silicon Craft VLSI
      </h5>
            </div>
        </div>
 
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center gap-3 flex-column flex-md-row">
                    <button class="btn bg-maroon text-white btn-lg">Start your application</button>
                    <button class="btn bg-white text-maroon btn-lg">Download Brochure</button>
                </div>
            </div>
        </div>
    </div>
</div>