<div class="admissions--hero-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center my-5">
                    Limited seats available. New cohorts every 6-8 weeks.
                </h5>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary btn-lg">Reserve your seat now</button>
                </div>
            </div>
        </div>

    </div>
</div>