<div class="admissions--next py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">
                    Next Batch - All VLSI Courses
                </h4>
                <p class="text-center">
Join our comprehensive VLSI training program with flexible timing options
                </p>
               
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe src="https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__Vkz_xtUNUFWUkpZTVlYNzBFUEVEQ0REQzQ3WEtYSi4u&embed=true" width="100%" height="400px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>