<div class="admissions--steps py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <span class="bg-danger step">1</span>

                                    <h5 class="text-center">Submit Application</h5>
                                    <p class="text-center">
                                        Complete our online application form with your academic
                                        details
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                    <span class="bg-danger step">2</span>

                                    <h5 class="text-center">Career Counselling</h5>
                                    <p class="text-center">
                                        Attend a free career counseling call with our experts


                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                    <span class="bg-danger step">3</span>

                                    <h5 class="text-center">Start Learning</h5>
                                    <p class="text-center">
                                       Complete enrollment and begin your VLSI journey
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>