.hover-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        .hover-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }

        .bg-gradient-primary {
                background: linear-gradient(-45deg, var(--navy), var(--maroon), var(--navy));
        }

        .list-group-item {
            background-color: transparent;
        }

        @media (max-width: 768px) {
            .display-3 {
                font-size: 2.5rem;
            }
            
            .display-4 {
                font-size: 2rem;
            }
            
            .display-5 {
                font-size: 1.75rem;
            }
        }