<div class="modal fade director-srinivasan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-start align-items-start flex-column flex-md-row gap-4">
                    <div class="w-100 w-md-25">
                        <img src="~src/images/directors/srinivasan.jpg" class="w-100" alt="..." />
                    </div>
                    <div class="w-100 w-md-75">
                        <h5 class="card-title text-center my-2">
                            Srinivasan Seshadri Simhan
                        </h5>
                        <h6 class="card-subtitle text-muted text-center">
                        B. Tech (IITM), MBA(IIMA)
                    </h6>
                    <p class="text-sm text-muted text-center">Board Member & CTO</p>
                    <div class="d-flex justify-content-start align-items-center gap-2 flex-wrap my-3">
                            <span class="badge text-bg-light">Corporate Finance & Strategy</span>
                            <span class="badge text-bg-light">Robotics R&D Management</span>
                            <span class="badge text-bg-light">Microfluidics Design</span>
                        </div>
                    <a class="btn linkedin-button" href="https://www.linkedin.com/in/srinivasan-seshadri-simhan-8904015/">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                    <p>Srinivasan holds a B.Tech from IIT Madras and an MBA from IIM Ahmedabad. He worked at SBI Capital, KPMG, Siemens India, and KSK Energy Ventures, later serving as COO at Systemantics. Currently, he is part of the founding team at Jiva Sciences and Director at Silicic Innova Technologies Pvt. Ltd.</p>
                <div>
                    <h6>25+ years across Finance, Energy, and R&D</h6>
            <h6>Key Achievements</h6>
            <ul id="detail-achievements" class="achievements-list"><li>Managed major M&amp;A and privatizations at KPMG</li><li>Established a 540 MW thermal power plant</li><li>Led commercialization of robotics at Systemantics</li></ul>
          </div>    
                
                </div>
                </div>
            </div>
        </div>
    </div>
</div>