<section class="py-5">
        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <i class="bi bi-rocket-takeoff icon-large mb-3"></i>
                    <h2 class="display-5 fw-bold mb-4">Innovation & Project Culture</h2>
                    <p class="lead mb-4">
                        We encourage creativity and practical problem-solving.
                    </p>
                    <p class="fs-5">
                        Students work on <strong>real-time mini projects</strong>, participate in <strong>hackathons</strong>, and present work in our <strong>Project Expo</strong> — preparing them for the challenges of product-based roles.
                    </p>
                </div>

                 <div class="col-lg-6">
                    <i class="bi bi-file-earmark-check text-primary icon-large mb-3"></i>
                    <h2 class="display-5 fw-bold mb-4">Career-Ready Certification</h2>
                    <p class="lead mb-4">
                        Each student receives an <strong>industry-recognized certificate</strong> along with a <strong>project portfolio</strong>, boosting credibility in interviews and job applications.
                    </p>
                </div>
            </div>
        </div>
</section>            