

nav.top {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

nav.top .social-icons svg {
  width: 28px;
  display: inline-block;
  transition: transform 0.3s ease;
  /* smooth zoom */

}

nav.top .social-icons svg:hover {
  transform: scale(1.5);
  /* zoom in by 10% */
}

nav.primary {
  @include media-breakpoint-down(md) {
    .navbar-brand {
      width: 80%;
      margin-right: 0;

      img {
        width: 100%
      }
    }
  }


  .navbar-nav .nav-link {
    color: var(--navy);
    font-size: 1rem;
    font-weight: 600;

  }

  .navbar-nav .nav-link.active {

    color: var(--maroon);
    position: relative;

    &:after {
      content: "";
      background: var(--maroon);
      border-radius: 2px;
      width: 100%;
      height: 4px;
      animation: .3s forwards slideIn;
      position: absolute;
      bottom: -2px;
      left: 0;
    }

  }
}