.fill-muted {

    svg{
        fill: #212529bf;
    }
}

.fill-white{
    svg{
        fill:white;
    }
}

.stroke-white{
    svg{
        stroke:white;
    }
}

.stroke-white{
    svg{
        stroke:white;
    }
}

.svg-36 {

    svg{

        width:36px;
        height:36px;
    }
}