.admissions--hero{
    color: #fff;
    background: linear-gradient(-45deg, var(--navy), var(--maroon), var(--navy));
    text-align: left;
    flex-direction: column;
    align-items: center;
   
    padding: 64px 0;
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 250px;
}

.hero-bg {
         opacity: .2;
         background-image: url(~/src/images/about/home-hero.jpeg);
         background-position: 50%;
         background-size: cover;
         position: absolute;
         inset: 0;

     }