<div class="container py-5 about--directors">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">
                Learn from industry veterans with decades of experience in VLSI design
                and semiconductor industry
            </h5>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            <h4 class="text-center">Directors</h4>
        </div>
        <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
            <div class="card cursor-pointer" data-bs-toggle="modal" data-bs-target=".director-srinivasan">
                <div class="card-body ">
                    <div class="team-image d-flex justify-content-center align-items-center mb-3">
                        <img src="/src/images/directors/srinivasan.jpg" alt="Srinivasan Seshadri Simhan">
                    </div>

                    <h5 class="card-title text-center my-2">
                        Srinivasan Seshadri Simhan
                    </h5>
                    <h6 class="card-subtitle text-muted text-center">
                        B. Tech (IITM), MBA(IIMA)
                    </h6>
                    <p class="text-sm text-muted text-center">Board Member & CTO</p>
                    <a class="btn linkedin-button"
                        href="https://www.linkedin.com/in/srinivasan-seshadri-simhan-8904015/">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <div class="card cursor-pointer" data-bs-toggle="modal" data-bs-target=".director-swaminathan">

                <div class="card-body">
                    <div class="team-image d-flex justify-content-center align-items-center mb-3">
                        <img src="~src/images/directors/swami.jpg" alt="Srinivasan Seshadri Simhan">
                    </div>


                    <h5 class="card-title text-center my-2">Dr. Swaminathan</h5>
                    <h6 class="card-subtitle text-muted text-center">
                        M.E., Ph.D. (iFellow 2015)
                    </h6>
                    <p class="text-sm text-muted text-center">Founder & Director</p>
                    <a class="btn linkedin-button"
                        href="https://www.linkedin.com/in/srinivasan-seshadri-simhan-8904015/">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            <h4 class="text-center">Mentors</h4>
        </div>
        <div class="col-12 col-md-4">
            <div class="card cursor-pointer" data-bs-toggle="modal" data-bs-target=".mentor-lakshminarayanan">

                <div class="card-body">
                    <div class="team-image d-flex justify-content-center align-items-center mb-3">
                        <img src="~src/images/directors/lakshmi.jpg" alt="Srinivasan Seshadri Simhan">
                    </div>

                    <h5 class="card-title text-center my-2">
                        Dr. G. Lakshminarayanan
                    </h5>
                    <h6 class="card-subtitle text-muted text-center">
                        Ph.D. in VLSI Systems
                    </h6>
                    <p class="text-sm text-muted text-center">Professor, NIT Trichy</p>
                    <a class="btn linkedin-button"
                        href="#">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card cursor-pointer" data-bs-toggle="modal" data-bs-target=".mentor-seokbum">

                <div class="card-body">
                    <div class="team-image d-flex justify-content-center align-items-center mb-3">
                        <img src="~src/images/directors/Dr-Seok-Bum-Ko.png" alt="Srinivasan Seshadri Simhan">
                    </div>

                    <h5 class="card-title text-center my-2">Dr. Seok-Bum Ko</h5>
                    <h6 class="card-subtitle text-muted text-center">
                        Ph.D. Electrical & Computer Engineering
                    </h6>
                    <p class="text-sm text-muted text-center">Professor, University of Saskatchewan</p>
                    <a class="btn linkedin-button"
                        href="https://www.linkedin.com/in/seok-bum-ko-b500a66/">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card cursor-pointer" data-bs-toggle="modal" data-bs-target=".mentor-madeswaran">

                <div class="card-body">
                    <div class="team-image d-flex justify-content-center align-items-center mb-3">
                        <img src="~src/images/directors/madeswaran.jpg" alt="Srinivasan Seshadri Simhan">
                    </div>
                    <h5 class="card-title text-center my-2"> Madeswaran</h5>
                    <h6 class="card-subtitle text-muted text-center">B.E. Electrical and Electronics</h6>
                    <p class="text-sm text-muted text-center">Advisor</p>
                    <a class="btn linkedin-button"
                        href="#">
                        <include src="./src/svgs/linkedin-icon.svg"></include>
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<include src="./src/components/about/modals/srinivasan.html"></include>
<include src="./src/components/about/modals/swaminathan.html"></include>
<include src="./src/components/about/modals/lakshmi-narayanan.html"></include>
<include src="./src/components/about/modals/seok-Bum-Ko.html"></include>
<include src="./src/components/about/modals/madeswaran.html"></include>