.home--banner {
  position: relative;
  .item {
    position: relative;
  }

  img {
    height: 450px;
  }

  .owl-dots{
       position: absolute;
    bottom: 20px;
        left: 0;
    width: 100%;
  }

  .caption {
    position: absolute;
    bottom: 50px;
    /* distance from bottom */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: transparent;
    padding: 10px 0;
  }

  .banner-icon {
    width: 36px;

    svg {
      stroke: white;
      fill: white;
    }
  }
}