.home--hero {

    // video {

    //     width: 100%;
    //     height: auto;
    // }

    // @include media-breakpoint-down(md) {
    //     video {
    //         display: none;
    //     }
    // }

    #particles-js {
        height: 300px;
        width: 100%;
        background-color: navy;
        position:relative;

        .hero-text {
            position:absolute;
            top:0;
            left:0;
            z-index:1;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 300px;
            width: 100%;
        }
    }


    // .content {
    //     z-index: 100;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     position: relative;
    //     background-color: var(--navy);

    //     .inner {
    //         height: 400px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;

    //         .cta-row {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             flex-direction: column;
    //             gap: 2em;

    //             @include media-breakpoint-up(md) {
    //                 flex-direction: row;
    //             }
    //         }
    //     }

    //     @include media-breakpoint-up(md) {
    //         position: absolute;
    //         background-color: transparent;

    //     }
    // }
}