@import "./hero";
@import "./news-ticker";
@import "./banner";
@import "./skills";
@import "./recruiters";
@import "./projects";
@import "./director-message";
@import "./testimonials";
@import "./placement";
@import "./targeting_companies";
