.home--projects{

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: var(--maroon);
        color:white;

    }

     .nav-pills .nav-link{
        color: var(--maroon);
        background-color:white;

    }
}