.home--projects{
    background: linear-gradient(135deg, #f8f9fa 0%, #e8eef5 100%);

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        background-color: var(--maroon);
        color:white;

    }

     .nav-pills .nav-link{
        color: var(--maroon);
        background-color:white;

    }
}