.home--recruiters {

    button.ticker-button {
        white-space: nowrap;
        width: max-content;
    }

    .recruiters-wrapper {
        overflow: hidden;
        width: 100%;

        .recruiters-content {
            display: flex;
            gap: 1.5rem;
            animation: scroll 20s linear infinite;
            &:hover {
                animation-play-state: paused; /* STOP on hover */
            }
            
            .card {
                width: 250px;
                min-width: 250px; // Prevents shrinking
                
                @media (max-width: 768px) {
                    width: 200px;
                    min-width: 200px;
                }
                
                @media (max-width: 576px) {
                    width: 150px;
                    min-width: 150px;
                }
            }
            
            img {
                width: 100%;
                height: 60px;
                object-fit: contain; // Maintains aspect ratio
                
                @media (max-width: 768px) {
                    height: 50px;
                }
                
                @media (max-width: 576px) {
                    height: 40px;
                }
            }
        }
    }
}