.home--recruiters {

    button.ticker-button {
        white-space: nowrap;
        width: max-content;
    }

    .recruiters-wrapper {
        overflow: hidden;
        width: 100%;

        .recruiters-content {
            display: flex;
            gap: 2rem;
            animation: scroll 20s linear infinite;
 .card{

                width:350px;
 }
            img {
                width: 100%;
                height: 75px;
            }
        }
    }
}