.home--testimonials {
    background-color: #f9fafb;
    button.ticker-button {
        white-space: nowrap;
        width: max-content;
    }

    .testimonials-wrapper {
        overflow: hidden;
        width: 100%;

        .testimonials-content {
            display: flex;
            gap: 2rem;
            animation: scroll 20s linear infinite;

            .card{

                width:350px;

                
.star{
    color:#fbbf24;
    width:30px;
}
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}