
<div class="row">
    <div class="col-12">
      <h2 class="text-center">LATEST UPDATES & IMPORTANT DATES</h2>
      <p class="text-center">Stay updated on new courses, key dates, and events — never miss a growth opportunity.</p>
    </div>
  </div>
<section class="home--banner">
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="~src/images/home/banner1.jpg" alt="Slide 1" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
                <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
                  <div class="banner-icon">
                    <include src="./src/svgs/home-banner--icon-1.svg"></include>
                  </div>
                 <div class="d-flex justify-content-start align-items-start flex-column p-3 rounded-3" >
     
  <h3 class="banner-title mb-2">Announcement: New Embedded Batch</h3>
  <p class="banner-desc mb-0">Enroll now for the upcoming embedded systems batch.</p>
</div>


                </div>
                <div>
                  <a href="~/src/admissions.html#apply" class="banner-cta btn bg-white">Enroll Today</a>
                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="item">
      <img src="~/src/images/home/banner3.jpg" alt="Slide 2" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
 <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
          <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
            <div class="banner-icon">
              <include src="./src/svgs/home-banner--icon-1.svg"></include>
            </div>
            <div class="d-flex justify-content-start align-items-start flex-column">
              <h3 class="banner-title">Placement News: 30+ Students Hired</h3>
              <p class="banner-desc">Our students have been placed in top semiconductor companies.</p>
            </div>

          </div>
          <div>
            <a href="~/src/placement.html#students" class="banner-cta btn bg-white">View Placements</a>
           
          </div>
        </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <div class="item">
      <img src="~/src/images/home/banner2.jpg" alt="Slide 3" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
  <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
          <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
            <div class="banner-icon">
              <include src="./src/svgs/home-banner--icon-1.svg"></include>
            </div>
            <div class="d-flex justify-content-start align-items-start flex-column">
              <h3 class="banner-title">Course Alert: VLSI Design Verification</h3>
              <p class="banner-desc">Learn from industry experts and work on real-time projects.</p>
            </div>

          </div>
          <div>

            <a href="~/src/admissions.html#apply" class="banner-cta btn bg-white">Enroll Today</a>
          </div>
        </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>