<section class="home--banner">
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="~src/images/home/banner01.jpg" alt="Slide 1" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
                <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
                  <div class="banner-icon">
                    <include src="./src/svgs/home-banner--icon-1.svg"></include>
                  </div>
                  <div class="d-flex justify-content-start align-items-start flex-column">
                    <h3 class="banner-title">Announcement: New Embedded Batch</h3>
                    <p class="banner-desc">Enroll now for the upcoming embedded systems batch.</p>
                  </div>

                </div>
                <div>
                  <button class="banner-cta btn bg-white">Enroll Today</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="item">
      <img src="~src/images/home/banner02.png" alt="Slide 2" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
 <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
          <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
            <div class="banner-icon">
              <include src="./src/svgs/home-banner--icon-1.svg"></include>
            </div>
            <div class="d-flex justify-content-start align-items-start flex-column">
              <h3 class="banner-title">Announcement: New Embedded Batch</h3>
              <p class="banner-desc">Enroll now for the upcoming embedded systems batch.</p>
            </div>

          </div>
          <div>
            <button class="banner-cta btn bg-white">Enroll Today</button>
          </div>
        </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <div class="item">
      <img src="~src/images/home/banner03.png" alt="Slide 3" />
      <div class="caption animate__animated">
        <div class="container">
          <div class="row">
            <div class="col-12">
  <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
          <div class="d-flex justify-content-start align-items-center align-items-lg-start gap-4  flex-column flex-lg-row">
            <div class="banner-icon">
              <include src="./src/svgs/home-banner--icon-1.svg"></include>
            </div>
            <div class="d-flex justify-content-start align-items-start flex-column">
              <h3 class="banner-title">Announcement: New Embedded Batch</h3>
              <p class="banner-desc">Enroll now for the upcoming embedded systems batch.</p>
            </div>

          </div>
          <div>
            <button class="banner-cta btn bg-white">Enroll Today</button>
          </div>
        </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>