<div class="home--cta bg-maroon py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center text-white">Your Journey to a Semiconductor Career</h4>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center gap-2 my-3">
                    <button class="btn bg-maroon text-white">Apply Online</button>
                    <button class="btn bg-maroon text-white">Free Career Counselling</button>
                    <button class="btn bg-maroon text-white">Enroll & Onboard</button>
                </div>
                 <div class="d-flex justify-content-center align-items-center gap-2 my-3">
                    <button class="btn bg-white text-maroon">Apply Now</button>
                    <button class="btn bg-maroon text-white">Request Fee Structure</button>
                </div>
            </div>
        </div>
    </div>
</div>