<div class="home--hero">
    <div class="col-12">
        <div class="position-relative wrapper" style="height:200px">
            <video autoplay="" muted="" loop="" playsinline="" class="hero-bg-video">
                <source src="~src/videos/home-hero.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="inner">
                                <div class="w-100 w-md-50">
                                    <div class="hero-text">
                                        <h1 class="text-white">
                                            From Graduate to VLSI &amp; Embedded Industry Leader
                                        </h1>
                                        <p class="sub text-white">
                                            Hands-on VLSI &amp; Embedded training with expert mentors,
                                            real projects, and dedicated placement support — we’re
                                            with you until you get hired.
                                        </p>
                                        <div class="cta-row">
                                            <a class="btn bg-white" href="~src/courses.html">View Courses</a>

                                            <a class="btn  bg-white" href="~src/contact.html#call"
                                                style="box-shadow: none; transform: translateY(0px)">Book a Free Career
                                                Call</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50 d-none d-md-block">
                                    <img src="~src/images/home/home-hero-right.png" class="w-100" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>