<div class="py-4 bg-light" >
  <div class="container" >
    <div class="row" >
      <div class="col-12 mb-1"  >
        <h2 class="text-center fw-bold">OUR SUCCESS STORIES</h2>
        <!-- <p class="text-center">Careers built. Dreams achieved.</p> -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <section class="splide placement-splide" role="group" aria-label="Student Placement">
          <div class="splide__track">
            <ul class="splide__list"></ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="placementSplideModal" tabindex="-1" aria-labelledby="placementSplideModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-2 p-sm-3 p-md-4">
        <!-- Modal content here -->
      </div>
    </div>
  </div>
</div>