<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-3">
      <section class="splide placement-splide" role="group" aria-label="Student Placement">
        <div class="splide__track">
          <ul class="splide__list"></ul>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="modal fade" id="placementSplideModal" tabindex="-1" aria-labelledby="placementSplideModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body p-2">

            </div>
          </div>
        </div>
      </div>