<div class="container home--projects">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Real-World Projects</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-dv-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-dv" type="button" role="tab" aria-controls="pills-dv"
                        aria-selected="true">
                        DV
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-pd-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-pd" type="button" role="tab" aria-controls="pills-pd"
                        aria-selected="false">
                        PD
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-fpga-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-fpga" type="button" role="tab" aria-controls="pills-fpga"
                        aria-selected="false">
                        FPGA
                    </button>
                </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-embedded-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-embedded" type="button" role="tab" aria-controls="pills-embedded"
                        aria-selected="false">
                        Embedded
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-dv" role="tabpanel" aria-labelledby="pills-dv-tab"
                    tabindex="0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">APB/AXI VIP</h5>
                                        <p class="card-text text-center">Assertions & coverage with regressions.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">NoC Router</h5>
                                        <p class="card-text text-center">Design & verification with traffic patterns.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">RISC-V SoC</h5>
                                        <p class="card-text text-center">Toolchain + on-FPGA verification.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="pills-pd" role="tabpanel" aria-labelledby="pills-pd-tab"
                    tabindex="0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">PnR & STA</h5>
                                        <p class="card-text text-center">Block-level closure strategies.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">CTS</h5>
                                        <p class="card-text text-center">Skew optimization and buffers.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">ECO & Sign-off</h5>
                                        <p class="card-text text-center">DRC/LVS, antenna, IR/EM.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-fpga" role="tabpanel" aria-labelledby="pills-fpga-tab"
                    tabindex="0">
                      <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">ISP Pipeline</h5>
                                        <p class="card-text text-center">Real-time video on boards.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">AXI DMA</h5>
                                        <p class="card-text text-center">Frame buffer & display.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">High-throughput FIR</h5>
                                        <p class="card-text text-center">Streaming accelerator.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="tab-pane fade" id="pills-embedded" role="tabpanel" aria-labelledby="pills-embedded-tab"
                    tabindex="0">
                       <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Sensor Hub</h5>
                                        <p class="card-text text-center">RTOS with low-power modes.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Linux Char Driver</h5>
                                        <p class="card-text text-center">sysfs & ioctl + tests.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Jetson AI</h5>
                                        <p class="card-text text-center">CUDA & QT-based UI.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>