<div class="container home--recruiters py-5">
    <div class="row">
        <div class="col-12 mb-5">
            <h2 class="text-center">Our Recruiters</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="recruiters-wrapper">
                <div class="recruiters-content">
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/hcltech-new-logo.svg" class="w-100" alt="HCL">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/aheesa.png" class="w-100" alt="AHEESA">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/insemi.png" class="w-100" alt="INSEMI">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/alphawave-semi-logo.png" class="w-100" alt="ALPHAWAVE SEMI">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/hpcrobotics.png" class="w-100" alt="HC ROBOTICS">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/objectautomation.png" class="w-100" alt="OBJECT AUTOMATION">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/mobiveil.png" class="w-100" alt="MOBIVEIL">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/maxlinear.png" class="w-100" alt="MAXLINEAR">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/young_minds_technology_solutions_logo.jpg" class="w-100" alt="YOUNG MINDS TECHNOLOGY">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/edveon.png" class="w-100" alt="EDVEON">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/appasamy_associates.png" class="w-100" alt="Appasamy Associates">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="Eoxys">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>