<div class="container-fluid home--recruiters">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Our Recruiters</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <div class="recruiters-wrapper">
                <div class="recruiters-content">
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                     <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <img src="~src/images/recruiters/eoxys.png" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>