<div class="container-fluid home--target-companies py-5">
    <div class="row">
        <div class="col-12 mb-5">
            <h2 class="text-center">Target Companies</h2>
            <p class="text-center">Industry leaders where our students aspire to work</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="companies-wrapper">
                <div class="companies-content">
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/amd.png" alt="AMD">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/arm.png" alt="ARM">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/intel.png" alt="Intel">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/ibm.png" alt="IBM">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/nvidia.png" alt="NVIDIA">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/qualcomm.png" alt="Qualcomm">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/samsung.png" alt="Samsung">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/texas-instruments.png" alt="Texas Instruments">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/juniper.png" alt="Juniper">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/st.png" alt="ST Microelectronics">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/analog-devices.png" alt="Analog Devices">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/broadcom.png" alt="Broadcom">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/cisco.png" alt="Cisco">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/mediatek.png" alt="MediaTek">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/microchip.png" alt="Microchip">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/onsemi.png" alt="OnSemi">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/altera.png" alt="Altera">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/xilinx.png" alt="Xilinx">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/microsemi.png" alt="Microsemi">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/cypress.png" alt="Cypress">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/alpha-ics.png" alt="Alpha ICs">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/applied-materials.png" alt="Applied Materials">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/rambus.png" alt="Rambus">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/nxp.png" alt="NXP">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/infinera.png" alt="Infinera">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/imagination.png" alt="Imagination">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/maxim.png" alt="Maxim Integrated">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/bosch.png" alt="Bosch">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/ge.png" alt="GE">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/synopsys.png" alt="Synopsys">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/cadence.png" alt="Cadence">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/mentor-graphics.png" alt="Mentor Graphics">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/open-silicon.png" alt="Open Silicon">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/tcs.png" alt="TCS">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/infosys.png" alt="Infosys">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/hcl.png" alt="HCL">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/infochips.png" alt="Infochips">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/graphene.png" alt="Graphene">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/wafer-space.png" alt="Wafer Space">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/wipro.png" alt="Wipro">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/mindtree.png" alt="Mindtree">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/smartiops.png" alt="SmartIOPS">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/tvs.png" alt="TVS">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/synapse.png" alt="Synapse">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/sicontech.png" alt="SiConTech">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/circuit-sutra.png" alt="Circuit Sutra">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/memoryx.png" alt="MemoryX">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/immensx.png" alt="ImmensX">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/sochronics.png" alt="SoChronics">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/silabtech.png" alt="SilabTech">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card border-0">
                            <div class="card-body">
                                <img src="~src/images/target-companies/chipspirit.png" alt="ChipSpirit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>