<div class="container-fluid py-5 home--testimonials">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">What Our Students Say</h2>
            <p class="text-center">
                Real success stories from VLSI engineers who transformed their careers
                with us
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="testimonials-wrapper">
                <div class="testimonials-content">
                    
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I'm thrilled that this Verilog internship has been incredibly beneficial to me. In just one month, I've learned numerous Verilog concepts, thanks to the excellent online environment that helps me concentrate without distractions</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/deepaa_fd1.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">C. K. Deepavadhana</h5>
                                            <p class="card-text text-center">RMK Enng College, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I had a valuable experience interning at Silicon Craft VLSI, where I received excellent guidance from Dr. Swami and Suresh sir. This internship provided me with a rich learning opportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/tharunfd2.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">A. THARUN KRISHNA</h5>
                                            <p class="card-text text-center">Chennai Institute of Technology</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I thoroughly enjoyed the hands-on experience with FPGA boards, comprehensive Verilog HDL training, and interfacing peripherals such as cameras and touch panels.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/jagdishfd3.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">JAGADEESH J</h5>
                                            <p class="card-text text-center">VIT, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>The internship provided extensive knowledge of VLSI, covering both frontend and backend aspects. It deepened my understanding of current trends and fundamentals in the VLSI domain. Previously, I had many questions about VLSI, but now I feel well-informed about the skill set required to excel in a LSI career.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/jayakkumarfd4.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">Jayakumar</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>Before this internship, VLSI was unfamiliar territory. Over a month, I delved into VLSI's frontend, backend, and career prospects. Starting with fundamentals like FPGA workflows and Verilog, I gained confidence in digital design. Encouraged by supportive instructors, I learned to ask questions freely. This experience ignited my passion for Verilog and SystemVerilog, driving my ambition to excel as a LSI engineer.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/jegafd5.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">JAGAN K</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>The FPGA-based system design internship provided invaluable hands-on experience with FPGA boards and Verilog HDL. Supportive instructors simplified complex topics, preparing me well for a VLSI career. Spending my vacation productively was fulfilling, and I've gained new insights into HDL. I'm grateful to Silicon Craft for enriching my knowledge and providing a great overll experience</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/nithiyafd6.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">NITHYA SREE R S</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>This internship offered a thorough introduction to VLSI basics and HDL programming. The engaging course materials made learning Verilog and digital design both enjoyable and effective. I gained insights into onchip and offchip protocols and appreciated your teaching approach. I now have clarity regarding my career path in the VLSI domain. This course has been highly benficial for me.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/sivasufd7.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">SIVASUBRA MANIYAN U</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>Starting with no prior VLSI knowledge, this internship provided me with a foundational understanding and much more. The supportive instructors and hands-on approach to real-time image processing made it an invaluable learning experience. The serene environment for studying and learning contributed to an overall beneficial course, where I gained valuableknowledge.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/mrithulafd8.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">MRIDHULA A</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>This course provided me with a comprehensive understanding of my domain, supported by excellent teaching. It balanced theory and practice perfectly, covering topics such as on-chip/off-chip protocols, Verilog HDL, FPGA development, and peripheral interfacing. This broadened my knowledge and understanding of VLSI ignificantly.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/pramithafd9.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">PARIMITHA SHRI S</h5>
                                            <p class="card-text text-center">RMKCET, Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>The trainers were highly knowledgeable and experienced in their respective fields, delivering a well-structured training program. The institute fostered a supportive and conducive learning environment. Thanks to the Silicic team's motivation. Hands-on experience with FPGA boards was a standout, offering valuable insights. Overall, I would rate my experience 5 out of 5. Thank you for this wonderfulopportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                        <img src="~src/images/students/srisarathifd10.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">SRISARATHI V</h5>
                                            <p class="card-text text-center">Chennai Institute ofechnology</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end testimonials-content -->
            </div>
        </div>
    </div>
</div>
