<div class="container-fluid py-5 home--testimonials">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">What Our Students Say</h2>
            <p class="text-center">
                Real success stories from VLSI engineers who transformed their careers
                with us
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="testimonials-wrapper">
                <div class="testimonials-content">
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I had a valuable experience interning at Silicon Craft VLSI, where I received excellent guidance from Dr. Swami and Suresh sir. This internship provided me with a rich learning opportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                <img src="~src/images/students/student01.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">A. THARUN KRISHNA</h5>
                                           <p class="card-text text-center">Chennai Institute of Technology</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I had a valuable experience interning at Silicon Craft VLSI, where I received excellent guidance from Dr. Swami and Suresh sir. This internship provided me with a rich learning opportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                <img src="~src/images/students/student01.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">A. THARUN KRISHNA</h5>
                                           <p class="card-text text-center">Chennai Institute of Technology</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I had a valuable experience interning at Silicon Craft VLSI, where I received excellent guidance from Dr. Swami and Suresh sir. This internship provided me with a rich learning opportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                <img src="~src/images/students/student01.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">A. THARUN KRISHNA</h5>
                                           <p class="card-text text-center">Chennai Institute of Technology</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card">
                            <div class="card-body">
                                <include src="./src/components/rating.html"></include>
                                <p>I had a valuable experience interning at Silicon Craft VLSI, where I received excellent guidance from Dr. Swami and Suresh sir. This internship provided me with a rich learning opportunity.</p>
                                <div class="card-footer bg-white">
                                    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                                <img src="~src/images/students/student01.png" class="rounded" alt="" />
                                        <div>
                                            <h5 class="card-title m-0 text-center">A. THARUN KRISHNA</h5>
                                           <p class="card-text text-center">Chennai Institute of Technology</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>