<nav class="navbar navbar-expand-lg bg-white primary">
  <div class="container">
    <a class="navbar-brand" href="~src/index.html">
      <img src="~src/images/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="~src/index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="~src/courses.html">Short Term</a></li>
            <li><a class="nav-link" href="~src/courses.html">Long Term</a></li>
            <li><a class="nav-link" href="~src/internship.html">Internship</a></li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="~src/about.html">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="~src/placement.html">Placement</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="~src/admissions.html">Admissions</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="~src/highlights.html">Highlights</a>
        </li>
          <li class="nav-item">
          <a class="nav-link apply-now" href="~src/contact.html">Apply Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
