<nav class="navbar top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100 flex-column flex-md-row">
            <div>
                <a href="tel:+91-8778181834" class="text-black no-underline">+91 87781 81834</a>
            </div>
            <div class="d-flex align-items-center gap-3 gap-md-4 social-icons">
                <a href="https://www.facebook.com/siliconcraftvlsi" target="_blank">
                    <include src="./src/svgs/brand-facebook.svg"></include>
                </a>
                <a href="https://twitter.com/siliconcraftlsi" target="_blank">
                    <include src="./src/svgs/brand-x.svg"></include>
                </a>
                 <a href="https://www.instagram.com/siliconcraftvlsi/" target="_blank">
                    <include src="./src/svgs/brand-instagram.svg"></include>
                </a>
                <a href="https://www.youtube.com/@SiliconCraftVLSI" target="_blank">
                    <include src="./src/svgs/brand-youtube.svg"></include>
                </a>
                <a href="https://wa.me/message/MGIZVJPFWXZOB1" target="_blank">
                    <include src="./src/svgs/brand-whatsapp.svg"></include>
                </a>
                  <a href="https://www.linkedin.com/company/silicon-craft/" target="_blank">
                    <include src="./src/svgs/brand-linkedin.svg"></include>
                </a>
                  <a href="https://maps.app.goo.gl/TL7RKzq1tXze38ff8" target="_blank">
                    <include src="./src/svgs/brand-googlemap.svg"></include>
                </a>
            </div>
        </div>
    </div>
</nav>