<div class="d-flex justify-content-center align-items-center gap-2">
                                    <include src="./src/svgs/star.svg"></include> 
                                    <include src="./src/svgs/star.svg"></include> 
                                    <include src="./src/svgs/star.svg"></include> 
                                    <include src="./src/svgs/star.svg"></include> 
                                    <include src="./src/svgs/star.svg"></include> 
                                </div>