<div class="courses--longterm bg-slate py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Long Term Courses</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body py-5">
                    <h5 class="card-title text-center">Advanced ASIC Design &amp; Verification</h5>
                    <p class="card-text text-center">SystemVerilog · UVM · SVA · Coverage</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn" data-bs-toggle="modal" data-bs-target=".advanced-asic-design-verification">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<include src="./src/components/courses/modals/advanced-asic-design-verification.html"></include>
