                        <h5 class="fw-semibold text-white">Quick links</h5>

<div class="list-group">
  <a href="~src/index.html" class="list-group-item">Home</a>
  <a href="~src/courses.html" class="list-group-item ">Course</a>
  <a href="~src/about.html" class="list-group-item ">About us</a>
  <a href="~src/placement.html" class="list-group-item ">Placement</a>
  <a href="~src/admissions.html" class="list-group-item ">Admissions</a>
  <a href="~src/highlights.html" class="list-group-item ">Highlights</a>
  <a href="~src/contact.html" class="list-group-item ">Contact</a>
</div>