<h5 class="fw-semibold text-white">Contact Information</h5>

<table class="table contact">
  <tr>
    <td>
      <include src="./src/svgs/location.svg"></include>
    </td>
    <td>
<a href="https://maps.app.goo.gl/TL7RKzq1tXze38ff8" target="_blank" class="text-white no-underline">
                
                <span>View Location</span>
            </a>

    </td>
  </tr>
   <tr>
    <td>
      <include src="./src/svgs/telephone.svg"></include>
    </td>
    <td>
      <a class="text-white no-underline">+91 87781 81834</a>
    </td>
  </tr>
   <tr>
    <td>
      <include src="./src/svgs/mail.svg"></include>
    </td>
    <td>
      <a class="text-white no-underline">contact@silicon-craft.com</a>
    </td>
  </tr>
   <tr>
   
    <!-- <td>
      <div class="working-time">
                <p class="mb-1 text-white">Mon-Fri:</p>
                <p class="mb-1 text-white">9:00 AM - 6:00 PM</p>
                <p class="text-white">Sat-Sun:</p>
                <p class="text-white">10:00 AM - 4:00 PM</p>
            </div>
    </td> -->
  </tr>
</table>