 <div class="d-flex justify-content-start align-items-start gap-3">
                    <div>
                        <img src="~src/images/logo-2.jpg" class="logo-2" alt="">
                    </div>
                    <div>
                        <h5 class="fw-semibold text-white">Silicon Craft VLSI</h5>
                        <p class="text-white fs-6">Crafting VLSI, Embedded AI Excellence</p>
                    </div>
                </div>
                <div>
                    <p class="text-white">Leading VLSI and Embedded Systems training institute offering comprehensive
                        courses to bridge the gap between academia and industry.</p>
                </div>
                <div class="d-flex justify-content-between align-items-start gap-3 social-icons">
                    <a href="https://www.facebook.com/siliconcraftvlsi" target="_blank">
                        <include src="./src/svgs/brand-facebook-2.svg"></include>
                    </a>

                    <a href="https://www.instagram.com/siliconcraftvlsi/" target="_blank">
                        <include src="./src/svgs/brand-instagram-2.svg"></include>
                    </a>
                    <a href="https://www.linkedin.com/company/silicon-craft/" target="_blank">
                        <include src="./src/svgs/brand-linkedin-2.svg"></include>
                    </a>
                    <a href="https://www.youtube.com/@SiliconCraftVLSI" target="_blank">
                        <include src="./src/svgs/brand-youtube-2.svg"></include>
                    </a>

                </div>