.courses--hero{
    color: #fff;
    background: linear-gradient(-45deg, var(--navy), var(--maroon), var(--navy));
    text-align: left;
    flex-direction: column;
    align-items: center;
   min-height: 250px;
    padding: 64px 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

 .hero-bg {
         opacity: .2;
         background-image: url(~/src/images/course-hero.jpeg);
         background-position: 50%;
         background-size: cover; 
        position: absolute;
         inset: 0;
         min-height: 250px;

     }