<div class="bg-white py-5 internship--hol">
  <h4 class="text-center">Hands on Learning & Collaboration</h4>
  <div class="container">
    <div class="row">
      <div class="col-12 my-3">
        <section class="splide hands-on-splide" role="group" aria-label="Hands on Learning">
          <div class="splide__track">
            <ul class="splide__list"></ul>
            
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="handsOnModal" tabindex="-1" aria-labelledby="handsOnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-2"></div>
    </div>
  </div>
</div>
