<div class="internship--hero">
 
  <div class="floating-particles">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
  <div class="container">
    <h1 class="text-white text-center">Launch Your Career in VLSI and Embedded Systems
    </h1>
    <h5 class="text-white text-center">
      20% theory. 80% labs. Portfolio‑grade projects and clear career pathways.
    </h5>
  </div>
</div>