
<div class="bg-slate py-5 internship--indexp">
  <h4 class="text-center">Industry Exposure & Professional Growth</h4>
  <p class="text-center"></p>
  <div class="container">
    <div class="row">
      <div class="col-12 my-3">
        <section class="splide industry-exposure-splide" role="group" aria-label="Industry Exposure">
          <div class="splide__track">
            <ul class="splide__list"></ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="industryExposureModal" tabindex="-1" aria-labelledby="industryExposureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-2"></div>
    </div>
  </div>
</div>