<div class="bg-slate py-5 internship--indexp">
    <h4 class="text-center">Industry Exposure & Professional Growth</h4>
    <p class="text-center"></p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel">
                    <div class="item">
                        <a href="http://localhost:1234/images/internship/handson01.jpeg">
                            <div class="card">
                                <img src="~src/images/internship/handson01.jpeg" class="card-img-top" alt="" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>