<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1744368191937-8fe5fde474a8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxlbGVjdHJvbmljcyUyMGVuZ2luZWVyaW5nJTIwVkxTSSUyMGNoaXAlMjBkZXNpZ258ZW58MXx8fHwxNzU4NjI5MTM1fDA&ixlib=rb-4.1.0&q=80&w=1080"
                    class="card-img-top h-200px" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">VLSI Design Internship</h4>
                    <p class="card-text text-center">Dive deep into Very Large Scale Integration design, working with
                        industry-standard tools and real-world projects.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-muted text-sm">
                            <include src="./src/svgs/time.svg"></include>
                            6 Months
                        </div>
                        <div class="text-muted fill-muted text-sm">
                            <include src="./src/svgs/location-2.svg"></include>
                            Banglore, Hydreabad
                        </div>
                    </div>
                    <h6 class="text-center text-muted my-3"> Key Skills</h6>
                    <div class="d-flex justify-content-start align-items-center gap-2 flex-wrap">
                        <span class="badge text-bg-light">Verilog</span>
                        <span class="badge text-bg-light">System Verilog</span>
                        <span class="badge text-bg-light">Cadence</span>
                        <span class="badge text-bg-light">Synopsis</span>
                    </div>
                    <h6 class="text-center text-muted my-3">Highlights</h6>
                    <div>
                        <ul class="highlights-list">
                            <li>Industry mentorship</li>
                            <li>Real chip design</li>
                            <li>Certification</li>
                        </ul>
                    </div>
                    <div>
                        <button data-bs-toggle="modal" data-bs-target=".vlsi-design-internship"
                            class="btn btn-bg-gradient text-white svg-fill-white fill-white w-100">View Details
                        </button>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1684430598623-e04d754cec59?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxlbWJlZGRlZCUyMHN5c3RlbXMlMjBjaXJjdWl0JTIwYm9hcmQlMjBwcm9ncmFtbWluZ3xlbnwxfHx8fDE3NTg2MjkxMzV8MA&ixlib=rb-4.1.0&q=80&w=1080"
                    class="card-img-top h-200px" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">Embedded Systems Internship</h4>
                    <p class="card-text text-center">Build innovative embedded solutions using cutting-edge
                        microcontrollers and IoT technologies.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-muted text-sm">
                            <include src="./src/svgs/time.svg"></include>
                            5 Months
                        </div>
                        <div class="text-muted fill-muted text-sm">
                            <include src="./src/svgs/location-2.svg"></include>
                            Chennai, Pune
                        </div>
                    </div>
                    <h6 class="text-center text-muted my-3"> Key Skills</h6>
                    <div class="d-flex justify-content-start align-items-center gap-2 flex-wrap">
                        <span class="badge text-bg-light">C / C++</span>
                        <span class="badge text-bg-light">Audrino</span>
                        <span class="badge text-bg-light">Raspberry PI</span>
                        <span class="badge text-bg-light">IoT</span>
                    </div>
                    <h6 class="text-center text-muted my-3">Highlights</h6>
                    <div>
                        <ul class="highlights-list">
                            <li>Hands on Practise</li>
                            <li>IoT Solutions</li>
                            <li>Industry Exposure</li>
                        </ul>
                    </div>
                    <div>
                        <button data-bs-toggle="modal" data-bs-target=".embedded-systems-internship"
                            class="btn btn-bg-gradient text-white svg-fill-white fill-white w-100">View Details
                            <include src="./src/svgs/arrow-forward.svg"></include>

                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<include src="./src/components/internship/modals/vlsi-design-internship.html"></include>
<include src="./src/components/internship/modals/embedded-systems-internship.html"></include>