<div class="bg-white py-5 internship--stusuc">
    <h4 class="text-center">Student Success Stories</h4>
    <p class="text-center">
        Hear directly from our successful interns about their transformative
        experience and how it launched their careers in technology.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="splide internship--student-video" role="group" aria-label="Student Videos">
                    <div class="splide__track">
                        <ul class="splide__list"></ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade youtube-view" tabindex="-1" aria-labelledby="youtubeViewModal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body p-0">
                <iframe width="100%" height="442" src="about:blank" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
