<div class="bg-slate py-5 internship--stusuc">
    <h4 class="text-center">What We Provide</h4>
    <p class="text-center">
      Our comprehensive internship program is designed to provide you with everything you need to succeed in the technology industry.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>

             <div class="col-12 col-md-4 col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column gap-3">
                            <div class="svg-36">
                                <include src="./src/svgs/menu-book.svg"></include>
                            </div>
                            <h5 class="card-title text-center">Comprehensive Training</h5>
                            <p class="card-text text-center">Industry-aligned curriculum with hands-on projects and real-world case studies</p>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
